h1 {
  color: blue;
  text-align: left;
}
p  {
  color: green;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: lightgray;
}
#hola {
  font-size: 14px;
  color: gray;
  text-align: right;
}
#uno {
  text-align: right;
  text-emphasis: filled red;
  -webkit-text-emphasis: filled red;
}
#dos {
  text-align: center;
}
#tres {
  text-align: left;
}
#cuatro {
  text-shadow: 1px 1px 2px pink;
}
.tabla {
  color: darkblue;
  text-decoration: underline;
}
@media (min-width: 800px){
  body{
    background-color: lightyellow;
  }
}
@media (max-width: 799px){
  body{
    background-color: lightblue;
  }
}
