$color: red;

ul {
  color: $color;
}

ol {
  font-size: 18px;
  color: $color;
}

h1 {
  color: lightgray;
}
div {
  font-size: 12px;
  p {
    color:blue;
  }
  ul {
    color:green;
  }
}
%mensaje {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}
.exito {
  @extend %mensaje;
  background-color: green;
}
.alerta {
  @extend %mensaje;
  background-color: yellow;
}
.error {
  @extend %mensaje;
  background-color: red;
}
